.header{
    background-color: rgb(5, 139, 197);
    transition: all .5s linear;
    &:hover{
        box-shadow: 0 0 10px 2px #ccc;
    }
}
.head{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}
.logo{
    display: flex;
    align-items: center;
    padding: .2rem .5rem;
}
.nav{
    display: flex;
    align-items: center;
    & ul{
        display: flex;
        align-items: center;
        gap: 1rem;
        & li{
            list-style: none;
            & a{
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 500;
                color: #ccc;
                transition: all .3s linear;
                padding: .2rem;
                border-radius: .3rem;
                &:hover{
                    color: rgb(255, 255, 255);
                    background-color: royalblue;
                }
                &:focus{
                    color: rgb(255, 255, 255);
                    background-color: rgb(149, 167, 219);
                }
            }
        }
    }
}